.grid-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.grid-pc {
    outline: 1px solid;
}
.hover{
    background: blue;
}
.clear-div {
    display: flex;
  justify-content: center;  
  margin: 30px;
}